/* Additional default styles for the editor */

html {

	body {

		&.custom-background {
			font-family: $montserrat-regular;
			font-size: 14px;
			color: $dove-gray;
			width: 100%;
			overflow-wrap: break-word;
			word-wrap: break-word; /* Old syntax */
		}
	}
}
