/* Montserrat Bold */
@font-face {
	font-family: 'Montserrat-Bold';
	src: local('Montserrat Bold'),
		url("../font/Montserrat-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Montserrat Bold */
@font-face {
	font-family: 'Montserrat-Light';
	src: local('Montserrat Light'),
		url("../../../src/font/Montserrat-Bold.otf") format("opentype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/* Montserrat Bold */
@font-face {
	font-family: 'Montserrat-Medium';
	src: local('Montserrat Medium'),
		url("../../font/Montserrat-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Montserrat Bold */
@font-face {
	font-family: 'Montserrat-Regular';
	src: local('Montserrat Regular'),
		url("../../font/Montserrat-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
