// Colors
$white: #fff;
$black: #000;
$dove-gray: #727272;
$dusty-gray: #999999;
$robins-egg-blue: #00C8C8;
$mine-shaft: #333333;
$mercury: #E4E4E4;
$alabaster: #f8f8f8;

// Fonts
$montserrat-regular: "Montserrat-Regular", sans-serif;
$montserrat-bold: "Montserrat-Bold", sans-serif;
$montserrat-light: "Montserrat-Light", sans-serif;
$montserrat-medium: "Montserrat-Medium", sans-serif;
