footer {

	&.site-footer {
		background-color: $alabaster;
		color: $dove-gray;
		padding: 0;

		.col-full {
			max-width: 100%;
			padding: 0;
		}

		.footer-wrapper {
			max-width: 1180px;
			width: 100%;
			margin: 0 auto;
			padding: 64px 0 54px;

			.footer-list-wrapper {
				display: flex;
				justify-content: space-between;
				margin-bottom: 61px;

				address,
				.telephone,
				.email {
					margin: 0;
				}

				a {
					text-decoration: none;
				}
			}

			.footer-nav {

				margin: 0;

				.menu {
					margin: 0;
					font-size: 14px;

					li {
						list-style: none;
						text-align: left;

						a {
							text-decoration: none;
							color: inherit;
						}
					}
				}

				.widget-title {
					text-transform: uppercase;
					margin-bottom: 30px;
					padding: 0;
					border: none;
					color: inherit;
					font-size: 13px;
				}
			}

			.footer-bottom-wraper {
				display: flex;
				justify-content: space-between;

				.footer-banner {
					background-color: $mine-shaft;
					color: $white;
					width: 48%;
					text-transform: uppercase;
					padding: 65px 58px;
					font-size: 36px;

					p {
						margin: 0;
						padding: 0;
					}

					.award {
						font: 300;
						color: $dove-gray;
					}
				}

				.footer-social {
					background-color: $robins-egg-blue;
					width: 48%;

					ul {
						display: flex;
						justify-content: space-between;
						position: relative;
						top: 50%;
						transform: translateY(-50%);
						margin: 0;
						padding: 0 120px;

						li {
							list-style: none;
							text-align: left;

							a {
								text-decoration: none;
								color: inherit;

								.social-icon {
									display: block;
									background-size: contain;
									width: 36px;
									height: 36px;
								}
							}
						}
					}
				}
			}
		}
	}


}
.site-info {
	background-color: $mine-shaft;
	color: $dusty-gray;
	padding: 20px 0;
	width: 100%;

	.footer-site-info {
		max-width: 1180px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	.design {
		display: flex;

		p {
			padding-left: 20px;
			margin: 0;
		}
	}
}
