#masthead {
	border: none;
	.col-full {
		max-width: 100%;
		padding: 0;
		background-color: $mine-shaft;
		color: $dusty-gray;

		.site-header-cart {
			background-color: $robins-egg-blue;
			width: 148px;
			margin-right: 20%;
			padding: 10px;

			li {

				a {
					padding: 0;
				}
			}
		}

		.secondary-navigation {
			margin: 0;
			padding: 0;
			float: right;
			// @include cf;

			.menu-header-top-container {
				padding: 10px 0;

				.menu {
					padding: 5px 0;
					margin-right: 40px;

					li {
						margin-right: 40px;

						a {
							color: $dusty-gray;
							padding: 0;
							font-size: 13px;
						}
					}
				}
			}
		}
	}

	.storefront-primary-navigation {
		margin-top: 35px;

		.col-full {
			display: flex;
			align-content: center;
			justify-content: space-between;
			background-color: $white;

			.site-branding {
				margin: 0  0 0 7%;
				padding: 0;
				max-width: 200px;
				width: 100%;

				.site-title {
					font-size: 24px;
					text-transform: capitalize;
					word-wrap: none;
				}

				.site-description {
					display: none;
				}
			}

			.main-navigation {
				text-align: right;
				margin: 0 7% 0 0;

				.primary-navigation {

					.nav-menu {

						li {

							a {
								padding: 10px 20px 10px 0;
							}
						}
					}
				}
			}

			.site-search {
				margin: 0 7% 0 0;
				max-width: 190px;

				input {
					background-color: $white;
					border-top: 0 !important;
					border: 1px solid $alabaster;
				}

			}
		}
	}
}

